@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --surface: #0f0d13;
    --surface-container: #1e1c21;
    --primary: #d4bbfc;
    --primary-2: #3a255b;
    --secondary: #cec2db;
    --secondary-2: #342d40;
    --tertiary: #f1b7c3;
    --tertiary-2: #4b252f;

    --surface-text: #e7e0e8;
    --primary-text: #ecdcff;
    --secondary-text: #eadef7;
    --tertiary-text: #ffd9e0;

    --primary-tag-background: rgba(212, 187, 252, 0.27);
    --primary-tag-background-hover: rgba(212, 187, 252, 0.5);

    --secondary-tag-background: rgba(206, 194, 219, 0.41);
    --secondary-tag-background-hover: rgba(206, 194, 219, 0.5);

    --tertiary-tag-background: rgba(241, 183, 195, 0.41);
    --tertiary-tag-background-hover: rgba(241, 183, 195, 0.5);
}

body {
    background: var(--surface);
    font-family: "Google Sans Code", monospace;
    font-style: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
}

h1 {
    color: var(--primary);
    transition: background-color 0.5s ease, color 0.5s ease;
}

p {
    color: var(--surface-text);
    transition: background-color 0.5s ease, color 0.5s ease;
}

a {
    color: var(--surface-text);
    padding: 2px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
    background-color: var(--surface-container);
    border-radius: 14px;
    padding: 10px 10px 25px 25px;
    width:  70%;
    max-width: 550px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.container:hover {
    border-color: var(--primary);
}

.primary-tag {
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: var(--primary-tag-background);
    display: inline-block;
    user-select: none;
    margin-bottom: 5px;
    margin-top: 5px;

    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.primary-tag:hover {
    background-color: var(--primary-tag-background-hover);
}

.secondary-tag {
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: var(--secondary-tag-background);
    display: inline-block;
    user-select: none;
    margin-bottom: 5px;
    margin-top: 5px;

    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.secondary-tag:hover {
    background-color: var(--secondary-tag-background-hover);
}

.tertiary-tag {
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid var(--tertiary);
    color: var(--tertiary);
    background-color: var(--tertiary-tag-background);
    display: inline-block;
    user-select: none;
    margin-bottom: 5px;
    margin-top: 5px;

    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.tertiary-tag:hover {
    background-color: var(--tertiary-tag-background-hover);
}

.theme-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: var(--primary);
    transition: background-color 0.5s ease, color 0.5s ease;
}